* {
	box-sizing: border-box;
}

.friends_column{
	float: left;
	width: 30%;
}

.friends_add_column{
	float: left;
	width: 10%;
}

.friends_body::after{
	content: "";
	display: table;
	clear: both;
}

form{
	display: inline;
}