[id="Red"] {
	background-color: red;
}

[id="Blue"] {
	background-color: blue;
}

[id="Green"] {
	background-color: green;
}

[id="Yellow"] {
	background-color: yellow;
	color: black;
}

[id="Purple"] {
	background-color: purple;
}

[id="Pink"] {
	background-color: pink;
	color: black;
}

[id="Orange"] {
	background-color: orange;
}

[id="LightSkyBlue"] {
	background-color: LightSkyBlue;
}

[id="None"] {
	background-color: white;
}

button {
	font-size: 100%;
}

table{
	text-align: center;
}