div.byline{
	width: 12%;
	float: left;
	color: #c8102e; /* Cardinal */
}

h3.byline{
	color: #F1BE48; /* Gold */
}

div.report{
	overflow: hidden;
	margin-bottom: 30px;
}

div.report_body{
	width: 85%;
	float: right;
	border: solid 2px LightSlateGray;
	border-radius: 5px;
	color: #c8102e;
	padding: 1%;
}

div.title{
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

div.title button{
	float: right;
}